In [1]:
import pandas as pd
import os

In [2]:
RESULTS_DIR = "./tmp_results/"
dataframes = [pd.read_csv(os.path.join(RESULTS_DIR, frame)) for i, frame in enumerate(os.listdir(RESULTS_DIR)) if i<=20]

In [3]:
df = pd.concat(dataframes)

In [4]:
df.head()

,query acc.ver,subject acc.ver,Percent identity,alignment length,mismatches,gap opens,q.start,q.end,s.start,s.end,evalue,bit score
0,Q7ZZ22,B3DGZ9,99.862,723,1,0,1,723,459,1181,0.0,1496
1,Q7ZZ22,F1QYZ6,99.723,723,2,0,1,723,459,1181,0.0,1493
2,Q7ZZ22,Q9DDT1,99.585,723,2,1,1,723,459,1180,0.0,1488
3,Q7ZZ22,A0A0R4IFJ4,90.456,723,69,0,1,723,459,1181,0.0,1367
4,Q7ZZ22,A0A024R5C5,81.692,721,132,0,1,721,457,1177,0.0,1258

In [5]:
len(df)

60390

In [6]:
df_train_terms = pd.read_csv("./Data/cafa5protein/Train/train_terms.tsv", header=None, sep="\t")

In [7]:
print(df_train_terms[df_train_terms[0]=="B3DGZ9"])

             0           1    2
292008  B3DGZ9  GO:0010038  BPO
292009  B3DGZ9  GO:0010035  BPO
292010  B3DGZ9  GO:0050896  BPO
292011  B3DGZ9  GO:0042221  BPO
292012  B3DGZ9  GO:0008150  BPO
292013  B3DGZ9  GO:0046686  BPO

In [8]:
print(df_train_terms[df_train_terms[0]=="F1QYZ6"])

             0           1    2
451610  F1QYZ6  GO:0010038  BPO
451611  F1QYZ6  GO:0010035  BPO
451612  F1QYZ6  GO:0050896  BPO
451613  F1QYZ6  GO:0042221  BPO
451614  F1QYZ6  GO:0008150  BPO
451615  F1QYZ6  GO:0046686  BPO

In [10]:
print(df_train_terms[df_train_terms[0]=="A0A0R4IFJ4"])

                0           1    2
60770  A0A0R4IFJ4  GO:0007612  BPO
60771  A0A0R4IFJ4  GO:0007611  BPO
60772  A0A0R4IFJ4  GO:0046958  BPO
60773  A0A0R4IFJ4  GO:0050890  BPO
60774  A0A0R4IFJ4  GO:0046959  BPO
60775  A0A0R4IFJ4  GO:0003008  BPO
60776  A0A0R4IFJ4  GO:0050877  BPO
60777  A0A0R4IFJ4  GO:0032501  BPO
60778  A0A0R4IFJ4  GO:0007610  BPO
60779  A0A0R4IFJ4  GO:0008150  BPO

In [19]:
subset_train_terms = df_train_terms[df_train_terms[1]=="GO:0010038"]
subset_train_terms.columns = ["query acc.ver", "query GO term", "cat"]
subset_train_terms2 = subset_train_terms.copy()
subset_train_terms2.columns = ["subject acc.ver", "subject GO term", "subject cat"]

In [20]:
df_test = df.merge(subset_train_terms, how="left", on="query acc.ver")
df_test = df_test.merge(subset_train_terms2, how="left", on="subject acc.ver")

In [21]:
len(df_test)

60390

In [31]:
df_test_pos = df_test[(~pd.isnull(df_test["query GO term"]))]
print(len(df_test_pos))
df_test_pos = df_test_pos[~pd.isnull(df_test_pos["subject GO term"])]

1098

In [33]:
print(len(df_test_pos))

63

In [34]:
print(df_test_pos)

      query acc.ver subject acc.ver  Percent identity  alignment length  \
0            Q7ZZ22          B3DGZ9            99.862               723
1            Q7ZZ22          F1QYZ6            99.723               723
2            Q7ZZ22          Q9DDT1            99.585               723
20           Q7ZZ22          Q58EN6            99.281               139
3849         P21707          P21579            97.867               422
...             ...             ...               ...               ...
49097        Q01818          Q01827            61.583               518
49117        Q56955          Q56954            37.329               292
54467        P25122          P22462            66.721               619
54487        P25122          P15387            36.575               473
54493        P25122          P16388            38.235               442

       mismatches  gap opens  q.start  q.end  s.start  s.end        evalue  \
0               1          0        1    723      459   1181  0.000000e+00
1               2          0        1    723      459   1181  0.000000e+00
2               2          1        1    723      459   1180  0.000000e+00
20              1          0      585    723        2    140  2.380000e-89
3849            8          1        1    421        1    422  0.000000e+00
...           ...        ...      ...    ...      ...    ...           ...
49097         178          5       11    519       10    515  0.000000e+00
49117         183          0        4    295        1    292  1.010000e-58
54467         125         11        1    564        1    593  0.000000e+00
54487         231          9        7    468       30    444  4.430000e-94
54493         204         10        8    443       37    415  2.450000e-87

       bit score query GO term  cat subject GO term subject cat
0           1496    GO:0010038  BPO      GO:0010038         BPO
1           1493    GO:0010038  BPO      GO:0010038         BPO
2           1488    GO:0010038  BPO      GO:0010038         BPO
20           278    GO:0010038  BPO      GO:0010038         BPO
3849         845    GO:0010038  BPO      GO:0010038         BPO
...          ...           ...  ...             ...         ...
49097        617    GO:0010038  BPO      GO:0010038         BPO
49117        191    GO:0010038  BPO      GO:0010038         BPO
54467        757    GO:0010038  BPO      GO:0010038         BPO
54487        308    GO:0010038  BPO      GO:0010038         BPO
54493        281    GO:0010038  BPO      GO:0010038         BPO

[63 rows x 16 columns]